/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-text-color: #{$black-color};
  --global-theme-color: #E50914;
  --global-hover-color: #f40612;
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #E50914;

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    display : block;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$black-color};
  --global-text-color: #{$grey-color-light};
  --global-theme-color: #E50914;
  --global-hover-color: #f40612;
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #E50914;

  .fa-sun {
    padding-left: 10px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
